@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
  .display-flex{
    display: flex;
  }
   /* dark 02 */
  .text-gray{
    color: rgb(255, 255, 255)
  }

  /* dark 03 */
  .text-light-gray{
   color: rgba(255, 255, 255, 0.5);
  }
  /* dark 04 */
  .text-blue-gray{
    color: rgba(239, 237, 232, 0.65);
  }
  /* dark 05 */
  .text-light2-gray{
    color: rgba(255, 255, 255, 0.6);
  }

  /* .bg-light{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
  } */
  
  .bg-light{
    max-width: 1440px;
  }
  .bg-light{
    background: linear-gradient(-10.00deg, rgb(0, 0, 0),rgba(119, 119, 119, 0) 900%);
  }

  /* header related styles */

  .brand{
    font-weight: 800;
    font-size: 2.25rem;

    margin-left: 190px;
  }
.navbar{
    margin-top: 3.5625rem;
   justify-content: space-between; 
   align-items: center;
}

.nav-item{
   list-style: none;
   margin-right: 47px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.nav-links{
    margin-right: 190px;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* team and feature related styles */
.content1{
  align-items: center;
}

.img1{
  width: 349px;
height: 580px;
background: url(88);
}
.banner{
  margin-left: 11.875rem;
}
.img1{
  margin-right: 10.4375rem;
}

.banner-title{
  width: 520px;
height: 282px;
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 4.875rem;
font-weight: 900;
}

.banner-description{
  width: 520px;
height: 48px;
margin-top: 1.75rem;
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 1rem;
font-weight: 400;
}

.btn-primary{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.125rem;
font-weight: 600;
}
.btn-primary{
  width: 224px;
height: 54px;
margin-top: 1.75rem;
border-radius: 2.625rem;
background: rgb(230, 83, 60);
}
.btn-primary{
  padding: 1rem 2.5rem 1rem 2.5rem;
  justify-content: center;
}
.btn-primary1{
  box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 2.625rem;
}
.btn-primary1{
  width: 224px;
height: 54px;
justify-content: center;
padding: 1rem 2.5rem 1rem 2.5rem;
}
.card-1{
  text-align: center;
  align-items: center;
  right: 21.25rem;
  bottom: 3.125rem;
}
.card-1{
  position: absolute;
width: 40px;
height: 40px;
}
.card-2{
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 12.5rem;
  background: rgb(230, 83, 60);
}
  
.card-2{
  background-blend-mode: overlay;
  z-index: 1;
 right: 29.375rem;
 bottom: 5.3125rem;
}


.card-1{
  position: absolute;
width: 190px;
height: 93px;
}

.card-1{
  box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 0.75rem;

backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
}

.banner-title-1{
height: 24px;
margin: 0.625rem 5rem 0.625rem 5rem;
}
.banner-title-1{
  color: rgb(250, 250, 249);
font-family: Inter;
font-size: 1.5rem;
font-weight: 900;
}

.banner-description-1{
  color: rgba(239, 237, 232, 0.65);
font-family: Inter;
font-size: 1rem;
font-weight: 400;
}
.banner-description-1{
  position: absolute;
width: 250px;
height: 24px;
}
.card-3{
  position: absolute;
width: 190px;
height: 93px;
}
.card-3{
  box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 0.75rem;

backdrop-filter: blur(12.25rem);
background: rgba(255, 255, 255, 0.1);
}
.card-3{
  margin: 60rem 59.375rem 71.875rem;
}
.banner-title-2{
  width: 116px;
  height: 40px;
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.875rem;
font-weight: 900;
}
.banner-title-2{
  margin: 0.625rem 1.875rem ;
}
.banner-description-2{
  margin: 0.625rem 1.875rem;
}
.banner-description-2{
  width: 146px;
  height: 20px;
  color: rgba(255, 255, 255, 0.65);
font-family: Inter;
font-size: 0.8125rem;
font-weight: 400;
}
.container-1{
  width: 1216px;
  height: 210px;
  margin: 0 auto;
  }

.container-1{
  padding: 100px 385px 58px 350px;
  background: rgb(0, 0, 0);
}
.container-1{
  justify-content: center;
  text-align: center;
  align-items: center;
  }
.content-title{
  position: static;
  width: 600px;
  height: 58px;
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
}
.content-description{
  position: static;
  width: 600px;
  height: 48px;
 }
 .content-description{
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
 }
  
