@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
  .display-flex{
    display: flex;
  }
   /* dark 02 */
  .text-gray{
    color: rgb(255, 255, 255)
  }
  
  
  /* .bg-light{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
  } */
  
  .bg-light{
    max-width: 1440px;
  }
  .bg-light{
    background: linear-gradient(-10.00deg, rgb(0, 0, 0),rgba(119, 119, 119, 0) 900%);
  }

  /* header related styles */

  .brand{
    font-weight: 800;
    font-size: 2.25rem;

    margin-left: 190px;
  }
.navbar{
    margin-top: 3.5625rem;
   justify-content: space-between; 
   align-items: center;
}

.nav-item{
   list-style: none;
   margin-right: 47px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.nav-links{
    margin-right: 190px;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* team and feature related styles */
.content1{
  align-items: center;
}

.img1{
  width: 349px;
height: 580px;
background: url(88);
}
.banner{
  margin-left: 11.875rem;
}
.img1{
  margin-right: 10.4375rem;
}

.banner-title{
  width: 520px;
height: 282px;
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 4.875rem;
font-weight: 900;
}

.banner-description{
  width: 520px;
height: 48px;
margin-top: 1.75rem;
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 1rem;
font-weight: 400;
}

.btn-primary{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.125rem;
font-weight: 600;
}
.btn-primary{
  width: 224px;
height: 54px;
margin-top: 1.75rem;
border-radius: 2.625rem;
background: rgb(230, 83, 60);
}
.btn-primary{
  padding: 1rem 2.5rem 1rem 2.5rem;
  justify-content: center;
}
.btn-primary1{
  box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 2.625rem;
}
.btn-primary1{
  width: 224px;
height: 54px;
justify-content: center;
padding: 1rem 2.5rem 1rem 2.5rem;
}
.card-1{
  text-align: center;
  align-items: center;
  right: 21.25rem;
  bottom: 3.125rem;
}
.card-1{
  position: absolute;
width: 40px;
height: 40px;
}
.card-2{
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 12.5rem;
  background: rgb(230, 83, 60);
}
  
.card-2{
  background-blend-mode: overlay;
  z-index: 1;
 right: 29.375rem;
 bottom: 5.3125rem;
}


.card-1{
  position: absolute;
width: 190px;
height: 93px;
}

.card-1{
  box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 0.75rem;

backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
}

.banner-title-1{
height: 24px;
margin: 0.625rem 5rem 0.625rem 5rem;
}
.banner-title-1{
  color: rgb(250, 250, 249);
font-family: Inter;
font-size: 1.5rem;
font-weight: 900;
}

.banner-description-1{
  color: rgba(239, 237, 232, 0.65);
font-family: Inter;
font-size: 1rem;
font-weight: 400;
}
.banner-description-1{
  position: absolute;
width: 250px;
height: 24px;
}
.card-3{
  position: absolute;
width: 190px;
height: 93px;
}
.card-3{
  box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 0.75rem;

backdrop-filter: blur(12.25rem);
background: rgba(255, 255, 255, 0.1);
}
.card-3{
  margin: 60rem 59.375rem 71.875rem;
}
.banner-title-2{
  width: 116px;
  height: 40px;
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.875rem;
font-weight: 900;
}
.banner-title-2{
  margin: 0.625rem 1.875rem ;
}
.banner-description-2{
  margin: 0.625rem 1.875rem;
}
.banner-description-2{
  width: 146px;
  height: 20px;
  color: rgba(255, 255, 255, 0.65);
font-family: Inter;
font-size: 0.8125rem;
font-weight: 400;
}
.container-1{
  max-width: 1216px;
  min-height: 200px;
  margin: 0 auto;
  }

.container-1{
  padding: 100px 385px 58px 350px;
  background: rgb(0, 0, 0);
}
.container-1{
  justify-content: center;
  text-align: center;
  align-items: center;
  }
.content-title{
  position: static;
  width: 600px;
  height: 58px;
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
}
.content-description{
  position: static;
  width: 600px;
  height: 48px;
 }
 .content-description{
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
 }
 /* second container */
 .second-container{
  max-width: 1216px;
  min-height: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
 }
 .second-container{
  background: rgb(0, 0, 0);
  justify-content: center;
 }
 .img-1{
  border-radius: 400px;
 }
 .content-title-1{
  width: 107px;
height: 22px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
  margin-top: 30px;
 }
 .content-description-1{
  position: static;
width: 231px;
height: 36px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
margin-top: 6px;
 }

 /* container-3 */
 .container-3{
  width: 1216px;
  height: 371px;
  border: 25px solid black; 
  margin: 0 auto;
  border-radius: 1px;

background: rgb(34, 34, 34);
  padding: 30px 100px 100px 190px;
  gap: 100px;
  }
  
  .container-3{
    display: flex;
    flex-direction: row;
  }
  .content-3 h3{
    position: static;
width: 443px;
height: 116px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
  }
  .content-3-p{
    position: static;
width: 443px;
height: 72px;
margin-top: 14px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
  }
  .content-3 button{
    position: static;
width: 81px;
height: 20px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
  }
  .content-3 button{
    position: static;
width: 224px;
height: 54px;
padding: 16px 40px 16px 40px;
border-radius: 42px;

background: rgb(230, 83, 60);
margin-top: 25px;
  }
 .content-3-img{
  position: absolute;
width: 366px;
height: 265px;
 }
 .content-3-img{
  border-radius: 18px;

background: url(4);
 }

 /* container-4 */
 .container-4{
  width: 1216px;
  height: 180px;
  margin: 0 auto;
  background: rgb(0, 0, 0);
  padding: 20px 20px 20px 150px;
 }

 .container-4 h5{
  position: static;
width: 573px;
height: 58px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
 }

 .container-4 p{
  position: static;
width: 671px;
height: 48px;
margin-top: 14px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
 }
 /* container-5 */

 .container-5{
  width: 1216px;
  height: 490px;
  margin: 0 auto;
  background: rgb(0, 0, 0);
 }

 .row{
  width: 50px;
  height: 100px;
  margin-left: 160px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  flex-direction: row;
  }
  .row-1{
width: 260px;
height: 190px;
color: #06FFD280;
  }
  .row-2{
    width: 400px;
    height: 190px;
    margin-left: -170px;
    
  }
  .row-3{
    width: 205px;
    height: 190px;
  }
  .row-4{
    width: 370px;
    height: 225px;
    margin-top: -4px;
  }
  .row-5{
    width: 200px;
    height: 225px;
    margin-top: -4px;
  }
  .row-6{
    width: 235px;
    height: 225px;
    margin-left: -30px;
    margin-top: -4px;
  }

  .banner-card-4{
    position: absolute;
width: 176px;
height: 17px;
color: rgb(0, 0, 0);
font-family: Inter;
font-size: 14px;
font-weight: 500;
  }
  .banner-card-4{
    margin-left: 170px;
    margin-top: 37px;
     color: #06FFD280;
  }
  .banner-card-5{
    margin-left: 390px;
    margin-top: -90px;
    color: #FF00004D
  }
  .banner-card-6{
    margin-left: 770px;
   margin-top: 85px;
   color: #00000080
  }
  .banner-card-7{
    margin-left: 380px;
    margin-top: 70px;
    color: #00000080
  }
  .banner-card-8{
    margin-left: 550px;
    margin-top: 70px;
    color: #42FF004D
  }
  .banner-card-9{
    margin-left: 750px;
    margin-top: -25px;
    color: #0047FF4D
  }
  /* container-6 */
  .container-4{
    width: 1216px;
    height: 170px;
    margin: 0 auto;
    background: rgb(0, 0, 0);
    padding: 1px 40px 60px 330px;
    
   }
  
   .container-4 h5{
    position: static;
  width: 573px;
  height: 58px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
   }
  
   .container-4 p{
    position: static;
  width: 671px;
  height: 48px;
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.container-6{
  width: 574px;
  height: 487px;
  padding: 44px 185px;
  background: rgb(34, 34, 34);
}

.description612{
  display: grid;
  grid-template-columns: 160px 160px;
  
  padding-top: 52px;
}

.description-614{
  border: 1px solid;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
}

.description-61{
  position: static;
width: 443px;
height: 34px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
}

.description613{
height: 19px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 500;
}
.description613{
  border: 1px solid;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.description-614{
  height: 40px;
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}

.container-7{
  width: 644px;
  height: 487px;
  margin-top: -487px;
  margin-left: 572px;
  background: rgb(34, 34, 34);
  padding-top: 40px;
}
.description-62{
  position: static;
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}
.mains{
  width: 282.5px;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(2, 282.5px);
  padding-top: 34px;
  gap: 12px;
  
}
.main{
width: 282.5px;
height: 50px;
padding: 12px 40px 12px 20px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
}
.main-1{
  color: aliceblue;
}
.kamrol{
  width: 575px;
  height: 50px;
}

.kamrol-2{
  position: static;
width: 81px;
height: 20px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
justify-content: center;
align-items: center;
text-align: center;
}
.kamrol-2{
  position: static;
width: 224px;
height: 54px;
padding: 16px 40px 16px 40px;
border-radius: 42px;

background: rgb(230, 83, 60);
margin-top: 40px;
}
.container-8{
  width: 1216px;
  height: 230px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 50px 290px;
  
}
.container-8 h5{
  padding-left: 90px;
}






  


  
